@page
@model WEB_153504_Skroba.Areas.Admin.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Tea</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Tea.Id" />
            <div class="form-group">
                <label asp-for="Tea.CategoryId" class="control-label"></label>
                <select asp-for="Tea.CategoryId" class="form-control" id="categorySelect" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="Tea.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tea.Name" class="control-label"></label>
                <input asp-for="Tea.Name" class="form-control" />
                <span asp-validation-for="Tea.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tea.Description" class="control-label"></label>
                <input asp-for="Tea.Description" class="form-control" />
                <span asp-validation-for="Tea.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tea.Price" class="control-label"></label>
                <input asp-for="Tea.Price" class="form-control" />
                <span asp-validation-for="Tea.Price" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="Tea.ImagePath" class="control-label"></label>
                <input asp-for="Tea.ImagePath" class="form-control" />
                <span asp-validation-for="Tea.ImagePath" class="text-danger"></span>
            </div>*@
            <div class="form-group mb-3">
                <label asp-for="@Model.ImagePath">Новое изображение</label>
                <div class="input-group" asp-for="@Model.ImagePath">
                    <input type="file" class="form-control" asp-for="@Model.ImagePath" accept="image/*">
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

